.article {
  position: relative;
  padding: 0.5rem 1rem .5rem 3.5rem;
  background: #FAC07C;
  transition: all .3s;
}

.article:hover {
  box-shadow: 0px 4px 16px 8px rgba(250, 192, 124, 0.25);
  transform: scale(1.01);
}

.article__id {
  position: absolute;
  width: 3ch;
  left: .8rem;
  top: .9rem;
  font-size: 1.1rem;
  text-align: right;
}

.article__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #242730;
}

.article__title {
  margin: 0;
}

.article__row-1 {
  align-items: center;
}

.article__link {
  margin-top: 2px;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.article__row-2,
.article__link {
  color: #767677;
}

.article__row-2 {
  font-size: 0.8rem;
  align-items: center;
}

.article__comments {
  position: relative;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background-color: #005B85;
  color: #F4F6FA;
  cursor: pointer;
}

.article__comments::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: calc(-0.5rem - 0.5px);
  background-color: #767677;
}

.article__comments:hover,
.article__comments:active,
.article__comments:focus {
  background-color: #4694B8;
  color: #F4F6FA;

}