* {
  box-sizing: border-box;
}

/* Interface styles: links, buttons, inputs */
html {
  font-size: 16px;
}


a.link {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: #242730;
}

button {
  appearance: none;
  border: none;
}

ul {
  list-style-type: none;

}

/* Grid system */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  padding: 0 30px;
}

.row {
  display: flex;
}

/* Common styles */

main {
  padding-top: 100px;
  padding-bottom: 100px;
}

main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .container .pagination.menu {
  border: none;
}

main .container .pagination.menu.disabled {
  display: none;
}

main .container .pagination.menu .item {
  color: #242730;
}

main .container .pagination.menu .active.item {
  background-color: #FF9D00;
  color: #F4F6FA;
}

main .container .pagination.menu .item:hover {
  background-color: #FF9D00;
  color: #F4F6FA;

}

/* Article list */
.article-list {
  list-style: none;
  width: 100%;
}

/* Comments styles */
.comment__item {
  padding: 1rem 2rem;
}

.comment__list-parent>.comment__item {
  margin-bottom: 1rem;
  background-color: #FAC07C;

}

.comment__list-child {
  background: #ffdaaf;
}